{{#partial "content"}}

    <div class="title">
      <marquee> <h1 >Welcome to Wildlife Tracker</h1></marquee>
        <P>
           This is where we use GPS tracking technology to locate wildlife animals.With GPS tracking, we place a radio receiver on an animal that picks up satellite signals. The receiver is used to calculate where the animal is and how and where it is moving.</P>
    </div>

{{/partial}}

{{> layout.hbs}}